$principal: #67b0d8;

$naranja: #f07434;
$amarillo: #f7b835;
$rojo: #e63538;
$rosa: #d32d86;
$violeta: #8c3fbd;
$celeste: #08adda;
$verde: #336e6e;
$verdeClaro: #00bb2d;

$colores: (
    "naranja": $naranja,
    "amarillo": $amarillo,
    "rojo": $rojo,
    "rosa": $rosa,
    "violeta": $violeta,
    "celeste": $celeste,
    "verde": $verde,
    "verdeClaro": $verdeClaro,
);