@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');
@font-face {
    font-family: 'Vacaciones';
    src: url('../fonts/vacaciones.woff2') format('woff2'),
        url('../fonts/vacaciones.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


$fontNunito: 'Nunito', sans-serif;
$fontVacaciones: 'Vacaciones', sans-serif;